* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

header {
  background: #111;
  color: #fff;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 60px 20px;
  text-align: center;
}

#hero {
  background: #f4f4f4;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #111;
  color: white;
  text-decoration: none;
}

.projeto {
  margin: 20px 0;
}