* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

header {
  background: #111;
  color: #fff;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #bbb;
}

section {
  padding: 60px 20px;
  text-align: center;
}

#hero {
  background: linear-gradient(135deg, #111, #333);
  color: white;
  padding: 100px 20px;
}

#hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

#hero p {
  font-size: 18px;
  opacity: 0.8;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: white;
  color: #111;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #ddd;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #111;
  color: white;
  text-decoration: none;
}

.projeto {
  margin: 20px 0;
}

#projetos {
  background: #f9f9f9;
}

.projeto {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.projeto:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  #hero {
    padding: 60px 20px;
  }

  #hero h2 {
    font-size: 22px;
  }

  #hero p {
    font-size: 16px;
  }
}